node_modules
dist
dist-ssr
*.local

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
coverage

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Env
.env
.env.local
